<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@book.errors.count, "error") %> that need to be fixed:</h4>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<div class="row">
  <div class="col-md-4">
  <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
  </div>

<% end %>
