
<p>
 <img>
  <%=image_tag(@book.coverimage)%>
 </img>
  <br>  </br>
  <%= @book.description %>
</p>
<style>
 img {
     float: left;
     margin: 10px 10px 10px 10px;
}

</style>

<%= link_to 'Edit Book', edit_book_path(@book) %> 
<br></br>
<br></br>
<br></br>
<br></br>
<div class="row">


  <br>
  
  <div class="small-2 large-4 columns">
     
   
      
     Average Rating : <%= rating_for @book,  'overallrating', disable_after_rate: false, star_path: '/images/ratyrate' %>
       

  </div>
</div>
<br>
<div id = "notes">
   <%= render @book.notes %>



<div>
<%= form_for([@book,@book.notes.new]) do |f| %>


  <div class="field">
    <%= f.label :Comments %><br>
    <%= f.text_field :note, size: "25*25" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>



<%= link_to 'Back to books', books_path %>
