<!DOCTYPE html>
<html>
<head>
  <title>Book Reviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" <%= link_to "Book Reviews",   about_path %>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home",   books_path %></li>
            <li><%= link_to "About",   about_path %></li>
      <% if logged_in? %>
        <li>
	   <%= form_tag books_path, :method => 'get' do %>   
	   <div class = "form"> 
	   <%= collection_select :book, :genre_id, Genre.all, :id, :genre_name, prompt: true %>
	   </div>
	</li>
	<li>
	   <div class = "submitform"> 
	   <%= submit_tag "Genre" %>
	   </div>
	</li>
	   <% end %>
        
         <li>
            <%= form_tag books_path, :method => 'get' do %>   
	   <div class = "form">            
             <%= text_field_tag 'search', nil, placeholder: 'Search books' %>
           </div>
          </li>
           
           <li>
          <div class = "submitform"> 
           <%= submit_tag "Search", :name => nil  %></li>  
          </div>
            
          <% end %>
       <% end %>
              
          </ul>
        

          

        </div><!--/.nav-collapse -->

      </div>
     </div>
    </nav>
    
  <div class="container">
   <% if logged_in? %>
     <div style = 'float: right;'>
       Logged in as <%= current_user.name %> 
       <%= link_to "Logout", logout_path, method: :delete %>
      </div>
   <% end %>
  <div class = "flash">  
   <% flash.each do |key, value| %>
   <p id='<%= key %>'> <%= value %></p>
   <% end %>
   </div>

<%= yield %>
       <%# <%= debug(params) if Rails.env.development? %>
 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</div>

</body>

</html>